.blockDiv {
    height: 696px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    margin-bottom: 10px;
}

.pictureDiv {
    margin-top: 10px; 
    position:relative;
}

.header {
    height: 55px; 
    color: white; 
    background-color: #e75545; 
    border-radius: 8px; 
    -moz-border-radius: 8px;
}

.headerButton {    
    position: relative; 
    top: 13px; 
    overflow: auto;
    border-style: none;
}