<style>
#sunspot-panel {
	border: 3px solid #F00;
	float: left;
	width: 289px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-right: 10px;
	text-align: center;
	min-height: 375px;
}

#sunspot-group-panel {
	border: 3px solid #F00;
	float: left;
	width: 289px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	text-align: center;
	min-height: 375px;
}

.sunspot-images-container {
	float: left;
}

.sunspot-row {
	display: table;
	margin: 0px auto;
}

.toolbar-info {
	padding: 10px;
	border: 3px solid #F00;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin-bottom: 10px;
}

.box-info {
	padding-bottom: 5px;
	display: inline-block;
}

.box-info img {
	width: 140px;
	float: left;
	margin-right: 10px;
}

.modal-body {
	max-height: 450px;
}

.modal.fade.in {
	top: 35%;
}
</style>

<script src="/sun4all/js/jquery.i18n.min.js" type="text/javascript"></script>
<script src="/sun4all/js/sun4all.i18n.js" type="text/javascript"></script>

<div id="sun4all-tutorial" class="row">
	<div class="span12">
		<div id="modal" class="modal hide fade"
			style="width: 670px; left: 48%;">
			<div class="modal-header">
				<h3 id="tutorial-title"></h3>
			</div>
			<div id="0" class="modal-body"
				style="display: none; text-align: center;">
				<span id="tutorial-p1"> </span>
				<div style="margin: 0px auto; width: 446px;">
					<img src="/sun4all/images/sun4all-icon.png"
						style="width: 35%; float: left;"> <img
						src="/sun4all/images/socientize-icon.png"
						style="width: 54%; margin-top: 40px;">
				</div>
			</div>
			<div id="1" class="modal-body" style="display: none">
				<img src="/sun4all/images/sun4all-header.png">
				<div>
					<img id="sun4all-example-photo"
						src="/sun4all/images/sun4all-example-photo.png"
						style="float: left; width: 50%; margin-left: 5px; margin-right: 10px; padding-bottom: 49px;">
					<span style="display: block; padding-top: 15px;"> <span
						id="tutorial-p2-1"></span> <img
						src="/sun4all/images/sun4all-info-icon.png" style="width: 30px;">
						<span id="tutorial-p2-2"></span> <img
						src="/sun4all/images/sun4all-social-icons.png"
						style="width: 110px;">
					</span>
				</div>
			</div>
			<div id="2" class="modal-body" style="display: none">
				<div id="tutorial-p3-1" style="margin-bottom: 10px;"></div>
				<div id="sunspot-panel">
					<div>
						<h2 class="sunspot-label" style="text-transform: uppercase"></h2>
						<div id="tutorial-p3-2" style="margin-bottom: 10px;"></div>
					</div>
					<div class="sunspot-row">
						<div class="sunspot-images-container" style="margin-right: 56px;">
							<img src="/sun4all/images/sunspot_1.png" style="width: 90px;">
							<h5>
								<strong>1</strong> <span class="sunspot-label"></span>s
							</h5>
						</div>
						<div class="sunspot-images-container">
							<img src="/sun4all/images/sunspot_2.png" style="width: 95px;">
							<h5>
								<strong>2</strong> <span class="sunspot-label"></span>s
							</h5>
						</div>
					</div>
					<div class="sunspot-row">
						<div class="sunspot-images-container" style="margin-right: 20px;">
							<img src="/sun4all/images/sunspot_3.png" style="width: 86px;">
							<h5 style="margin-bottom: 0px;">
								<strong>3</strong> <span class="sunspot-label"></span>
							</h5>
						</div>
						<div class="sunspot-images-container">
							<img src="/sun4all/images/sunspot_4.png" style="width: 138px;">
							<h5 style="margin-bottom: 0px; margin-left: 36px;">
								<strong>4</strong> <span class="sunspot-label"></span>s
							</h5>
						</div>
					</div>
				</div>
				<div id="sunspot-group-panel">
					<div>
						<h2 class="sunspot-group-label" style="text-transform: uppercase"></h2>
						<div id="tutorial-p3-3" style="margin-bottom: 10px;"></div>
					</div>
					<img src="/sun4all/images/sunspot_group.png"
						style="width: 252px; margin-top: 11px;">
				</div>
			</div>
			<div id="3" class="modal-body" style="display: none">
				<div class="tutorial-p4-1" style="margin-bottom: 10px;"></div>

				<img class="sun4all-image-toolbar"
					src="/sun4all/images/image_toolbar.png"
					style="display: block; margin: 0px auto; margin-bottom: 10px;">

				<div class="toolbar-info">
					<span id="tutorial-p4-2"></span><img
						src="/sun4all/images/zoom_in.png">, <span id="tutorial-p4-3"></span><img
						src="/sun4all/images/zoom_out.png">, <span
						id="tutorial-p4-4"></span> <img id="sun4all-reset-zoom"
						src='/sun4all/images/reset_zoom.png'>.
				</div>
				<div class="toolbar-info">
					<span id="tutorial-p4-5"></span><img src="/sun4all/images/down.png">,
					<span id="tutorial-p4-6"></span><img src="/sun4all/images/up.png">,
					<span id="tutorial-p4-7"></span><img src="/sun4all/images/left.png">
					<span id="tutorial-p4-8"></span><img
						src="/sun4all/images/right.png">.
				</div>
			</div>
			<div id="4" class="modal-body" style="display: none">
				<div class="tutorial-p4-1" style="margin-bottom: 10px;"></div>
				<img class="sun4all-image-toolbar"
					src="/sun4all/images/image_toolbar.png"
					style="display: block; margin: 0px auto; margin-bottom: 10px;">

				<div id="tutorial-p5-1"
					style="margin-bottom: 10px; margin-left: 10px;"></div>

				<div class="toolbar-info" style="height: 140px;">
					<div
						style="margin-left: 50px; margin-right: 100px; margin-top: 50px; float: left;">
						<img id="sun4all-invert-image"
							src="/sun4all/images/invert_image.png">
					</div>
					<div style="margin-top: 10px; margin-right: 50px; float: left;">
						<img src="/sun4all/images/inverted_image_1.png"
							style="width: 120px;">
						<div style="text-align: center;">
							<span id="tutorial-p5-2"></span>
						</div>
					</div>
					<div style="margin-top: 10px; float: left;">
						<img src="/sun4all/images/inverted_image_2.png"
							style="width: 120px;">
						<div style="text-align: center;">
							<span id="tutorial-p5-3"></span>
						</div>
					</div>
				</div>
				<div id="tutorial-p5-4" style="margin-left: 10px;"></div>
			</div>
			<div id="5" class="modal-body" style="display: none">
				<div id="tutorial-p6-1" style="margin-bottom: 10px;"></div>
				<div class="box-info" style="padding-bottom: 5px;">
					<img id="sun4all-observation-box"
						src="/sun4all/images/observation_box.png">
					<div id="tutorial-p6-2" style="margin-top: 32px;"></div>
				</div>
			</div>
			<div id="6" class="modal-body" style="display: none">
				<div id="tutorial-p7-1" style="margin-bottom: 10px;"></div>
				<div class="box-info">
					<img src="/sun4all/images/sunspot_step_1.png" style="width: 125px;">
					<div id="tutorial-p7-2" style="margin-top: 30px;"></div>
				</div>
				<div class="box-info">
					<img src="/sun4all/images/sunspot_step_2.png" style="width: 125px;">
					<div id="tutorial-p7-3" style="margin-top: 20px;"></div>
				</div>
				<div class="box-info">
					<img src="/sun4all/images/sunspot_step_3.png" style="width: 125px;">
					<div id="tutorial-p7-4" style="margin-top: 20px;"></div>
				</div>
			</div>

			<div id="7" class="modal-body" style="display: none">
				<div id="tutorial-p8-1" style="margin-bottom: 10px;"></div>
				<div class="box-info">
					<img src="/sun4all/images/sunspot_group_step_1.png"
						style="width: 100px;">
					<div id="tutorial-p8-2" style="margin-top: 30px;"></div>
				</div>
				<div class="box-info">
					<img src="/sun4all/images/sunspot_group_step_2.png"
						style="width: 100px;">
					<div id="tutorial-p8-3" style="margin-top: 20px;"></div>
				</div>
				<div class="box-info">
					<img src="/sun4all/images/sunspot_group_step_3.png"
						style="width: 100px;">
					<div id="tutorial-p8-4" style="margin-top: 20px;"></div>
				</div>
			</div>

			<div id="8" class="modal-body" style="display: none">
				<div id="tutorial-p9-1" style="margin-bottom: 10px;"></div>
				<div class="box-info">
					<img id="sun4all-your-data-box"
						src="/sun4all/images/your_data_box.png">
					<div id="tutorial-p9-2" style="margin-top: 50px;"></div>
				</div>
			</div>
			<div id="9" class="modal-body"
				style="display: none; text-align: center;">
				<span id="tutorial-p10-1"></span> <a id="didactic-unit"
					href="http://www.mat.uc.pt/~sun4all/index.php/en/supporting-material?download=33:projects-guidebook"
					target="_blank"></a><span id="tutorial-p10-2"></span>
				<div style="margin: 0px auto; width: 446px;">
					<img src="/sun4all/images/sun4all-icon.png"
						style="width: 35%; float: left;"> <img
						src="/sun4all/images/socientize-icon.png"
						style="width: 54%; margin-top: 40px;">
				</div>
			</div>
			<div class="modal-footer">
				<a id="prevBtn" href="#" onclick="showStep('prev')" class="btn"></a>
				<a id="nextBtn" href="#" onclick="showStep('next')"
					class="btn btn-success"></a> <a id="startContrib"
					href="../Sun4All/newtask" class="btn btn-primary"
					style="display: none;"><i class="icon-thumbs-up"
					style="margin-right: 5px;"></i><span id="startContrib-label"></span>
				</a>
			</div>
		</div>
	</div>
</div>
<script>
	$("#sun4all-tutorial").ready(function() {
		$("#tutorial-title").text($.i18n._('tutorial-title'));
		$("#tutorial-p1").html($.i18n._('tutorial-p1'));
		$("#tutorial-p2-1").html($.i18n._('tutorial-p2-1'));
		$("#tutorial-p2-2").html($.i18n._('tutorial-p2-2'));
		$("#tutorial-p3-1").html($.i18n._('tutorial-p3-1'));
		$("#tutorial-p3-2").html($.i18n._('tutorial-p3-2'));
		$("#tutorial-p3-3").html($.i18n._('tutorial-p3-3'));
		$(".tutorial-p4-1").html($.i18n._('tutorial-p4-1'));
		$("#tutorial-p4-2").html($.i18n._('tutorial-p4-2'));
		$("#tutorial-p4-3").html($.i18n._('tutorial-p4-3'));
		$("#tutorial-p4-4").html($.i18n._('tutorial-p4-4'));
		$("#tutorial-p4-5").html($.i18n._('tutorial-p4-5'));
		$("#tutorial-p4-6").html($.i18n._('tutorial-p4-6'));
		$("#tutorial-p4-7").html($.i18n._('tutorial-p4-7'));
		$("#tutorial-p4-8").html($.i18n._('tutorial-p4-8'));
		$("#tutorial-p5-1").html($.i18n._('tutorial-p5-1'));
		$("#tutorial-p5-2").html($.i18n._('tutorial-p5-2'));
		$("#tutorial-p5-3").html($.i18n._('tutorial-p5-3'));
		$("#tutorial-p5-4").html($.i18n._('tutorial-p5-4'));
		$("#tutorial-p6-1").html($.i18n._('tutorial-p6-1'));
		$("#tutorial-p6-2").html($.i18n._('tutorial-p6-2'));
		$("#tutorial-p7-1").html($.i18n._('tutorial-p7-1'));
		$("#tutorial-p7-2").html($.i18n._('tutorial-p7-2'));
		$("#tutorial-p7-3").html($.i18n._('tutorial-p7-3'));
		$("#tutorial-p7-4").html($.i18n._('tutorial-p7-4'));
		$("#tutorial-p8-1").html($.i18n._('tutorial-p8-1'));
		$("#tutorial-p8-2").html($.i18n._('tutorial-p8-2'));
		$("#tutorial-p8-3").html($.i18n._('tutorial-p8-3'));
		$("#tutorial-p8-4").html($.i18n._('tutorial-p8-4'));
		$("#tutorial-p9-1").html($.i18n._('tutorial-p9-1'));
		$("#tutorial-p9-2").html($.i18n._('tutorial-p9-2'));
		$("#tutorial-p10-1").html($.i18n._('tutorial-p10-1'));
		$("#tutorial-p10-2").html($.i18n._('tutorial-p10-2'));

		$("#didactic-unit").text($.i18n._('didactic-unit'));
		$("#prevBtn").text($.i18n._('prevBtn'));
		$("#nextBtn").text($.i18n._('nextBtn'));
		$("#startContrib-label").text($.i18n._('startContrib-label'));
		$(".sunspot-label").text($.i18n._('sunspot-label'));
		$(".sunspot-group-label").text($.i18n._('sunspot-group-label'));
		
		$("#sun4all-example-photo").attr("src", $.i18n._('sun4all-example-photo'));
		$(".sun4all-image-toolbar").attr("src", $.i18n._('sun4all-image-toolbar'));
		$("#sun4all-reset-zoom").attr("src", $.i18n._('sun4all-reset-zoom'));
		$("#sun4all-invert-image").attr("src", $.i18n._('sun4all-invert-image'));
		$("#sun4all-observation-box").attr("src", $.i18n._('sun4all-observation-box'));
		$("#sun4all-your-data-box").attr("src", $.i18n._('sun4all-your-data-box'));
	});

	var step = -1;
	function showStep(action) {
		$("#" + step).hide();
		if (action == 'next') {
			step = step + 1;
		}
		if (action == 'prev') {
			step = step - 1;
		}
		if (step == 0) {
			$("#prevBtn").hide();
		} else {
			$("#prevBtn").show();
		}
		if (step == 9) {
			$("#nextBtn").hide();
			$("#startContrib").show();
		}
		$("#" + step).show();
	}

	showStep('next');
	$("#modal").modal('show');
</script>