<style>
#sunspot-panel {
	border: 3px solid #F00;
	float: left;
	width: 289px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	margin-right: 10px;
	text-align: center;
}

#sunspot-group-panel {
	border: 3px solid #F00;
	float: left;
	width: 289px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	text-align: center;
}

.sunspot-images-container {
	float: left;
}

.sunspot-row {
	display: table;
	margin: 0px auto;
}

.toolbar-info {
	padding: 10px;
	border: 3px solid #F00;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	margin-bottom: 10px;
}

.box-info {
	display: table;
}

.box-info span {
	display: table-cell;
	padding-left: 10px;
	vertical-align: middle;
}

.modal-body {
	max-height: 450px;
}

.modal.fade.in {
	top: 35%;
}
</style>

<div class="row">
	<div class="span12">
		<div id="modal" class="modal hide fade"
			style="width: 670px; left: 48%;">
			<div class="modal-header">
				<h3>Sun4All Tutorial</h3>
			</div>
			<div id="0" class="modal-body"
				style="display: none; text-align: center;">
				<span> <strong>Hello!</strong><br> <br> First of
					all, thank you so much for giving us your time to help us with
					Sun4All! This tutorial will maximize your experience and
					contribution, so please, read it carefully. <br> <br> The
					project is based on an asset of over 30000 images of the Sun
					(spectroheliograms) that are kept at the Astronomical Observatory
					of the University of Coimbra, as result of a work of over 80 years
					of daily solar observations, started in 1926. <br> <br>
					The analysis and counting of the sunspots is a very important
					aspect of the study of the phenomena occurring on the surface of
					Sun and to understand the solar activity and solar cycle. On the
					other hand studying the sunspots, besides being interesting itself,
					presents an important tool to understand much of what happens on
					the Earth climate. <br> <br> Thank you for your
					collaboration!
				</span>
				<div style="margin: 0px auto; width: 446px;">
					<img
						src="http://societic.ibercivis.es/sun4all/static/images/sun4all-icon.png"
						style="width: 35%; float: left;"> <img
						src="http://societic.ibercivis.es/sun4all/static/images/socientize-icon.png"
						style="width: 54%; margin-top: 40px;">
				</div>
			</div>
			<div id="1" class="modal-body" style="display: none">
				<img
					src="http://societic.ibercivis.es/sun4all/static/images/sun4all-header.png">
				<div>
					<img
						src="http://societic.ibercivis.es/sun4all/static/images/sun4all-example-photo.png"
						style="float: left; width: 50%; margin-left: 5px; margin-right: 10px; padding-bottom: 49px;">
					<span style="display: block; padding-top: 15px;"> In this
						application you’ll find an image of the sun - a spectroheliogram -
						dated with the day when was taken. The one used in this example
						was taken in September, 03 – 1980 (see above the picture). <br>
						<br> The purpose of this application is to count sunspots and
						sunspots groups. To do that, we provide you with tools to <u>manipulate
							the image</u> and <u>to do the counting</u>. <br> <br> You
						can use icon <img
						src="http://societic.ibercivis.es/sun4all/static/images/sun4all-info-icon.png"
						style="width: 30px;"> to get more information about the
						application and also the social network icons to spread the word!
						<img
						src="http://societic.ibercivis.es/sun4all/static/images/sun4all-social-icons.png"
						style="width: 110px;">
					</span>
				</div>
			</div>
			<div id="2" class="modal-body" style="display: none">
				<div style="margin-bottom: 10px;">
					First of all, what can be considered as a <strong>sunspot</strong>
					and a <strong>sunspot group</strong>?
				</div>
				<div id="sunspot-panel">
					<div>
						<h2>SUNSPOT</h2>
						<div style="margin-bottom: 10px;">A sunspot is every single
							spot you might detect in the surface of the sun. Here you have
							some examples:</div>
					</div>
					<div class="sunspot-row">
						<div class="sunspot-images-container" style="margin-right: 56px;">
							<img
								src="http://societic.ibercivis.es/sun4all/static/images/sunspot_1.png"
								style="width: 90px;">
							<h5>
								<strong>1</strong> Sunspot
							</h5>
						</div>
						<div class="sunspot-images-container">
							<img
								src="http://societic.ibercivis.es/sun4all/static/images/sunspot_2.png"
								style="width: 95px;">
							<h5>
								<strong>2</strong> Sunspot
							</h5>
						</div>
					</div>
					<div class="sunspot-row">
						<div class="sunspot-images-container" style="margin-right: 20px;">
							<img
								src="http://societic.ibercivis.es/sun4all/static/images/sunspot_3.png"
								style="width: 86px;">
							<h5 style="margin-bottom: 0px;">
								<strong>3</strong> Sunspot
							</h5>
						</div>
						<div class="sunspot-images-container">
							<img
								src="http://societic.ibercivis.es/sun4all/static/images/sunspot_4.png"
								style="width: 138px;">
							<h5 style="margin-bottom: 0px; margin-left: 36px;">
								<strong>4</strong> Sunspot
							</h5>
						</div>
					</div>
				</div>
				<div id="sunspot-group-panel">
					<div>
						<h2>SUNSPOT GROUP</h2>
						<div style="margin-bottom: 10px;">A sunspot group is
							considered to be a group of sunspots. Look at this example:</div>
					</div>
					<img
						src="http://societic.ibercivis.es/sun4all/static/images/sunspot_group.png"
						style="width: 252px; margin-top: 11px;">
				</div>
			</div>
			<div id="3" class="modal-body" style="display: none">
				<div style="margin-bottom: 10px;">
					To <u>manipulate the image</u>, you have several buttons located at
					the bottom of the image that you can use:
				</div>
				<img
					src="http://societic.ibercivis.es/sun4all/static/images/image_toolbar.png"
					style="display: block; margin: 0px auto; margin-bottom: 10px;">
				<div class="toolbar-info">
					To change the size of the image you can: <br> Amplify <img
						src="http://societic.ibercivis.es/sun4all/static/images/zoom_in.png">,
					reduce <img
						src="http://societic.ibercivis.es/sun4all/static/images/zoom_out.png">,
					or reset the size of the image <img
						src="http://societic.ibercivis.es/sun4all/static/images/reset_zoom.png">.
				</div>
				<div class="toolbar-info">
					To move the image you can: <br> Move the image down <img
						src="http://societic.ibercivis.es/sun4all/static/images/down.png">,
					up <img
						src="http://societic.ibercivis.es/sun4all/static/images/up.png">,
					left <img
						src="http://societic.ibercivis.es/sun4all/static/images/left.png">
					or right <img
						src="http://societic.ibercivis.es/sun4all/static/images/right.png">.
				</div>
				<div class="toolbar-info">
					You also can INVERT THE IMAGE <img
						src="http://societic.ibercivis.es/sun4all/static/images/invert_image.png">
					and detect sunspots easily. <img
						src="http://societic.ibercivis.es/sun4all/static/images/inverted_image_1.png"
						style="width: 120px; margin-top: 10px;"> <img
						src="http://societic.ibercivis.es/sun4all/static/images/inverted_image_2.png"
						style="width: 120px; margin-top: 10px;">
				</div>
			</div>
			<div id="4" class="modal-body" style="display: none">
				<div style="margin-bottom: 10px;">To do the counting, you have
					located at the right side of the image two boxes:</div>
				<div class="box-info" style="padding-bottom: 5px;">
					<img
						src="http://societic.ibercivis.es/sun4all/static/images/observation_box.png"
						style="width: 340px;"> <span>The <strong>“Observation”
							box</strong> will help you analysing the image by allowing you to “Add
						Sunspots”, “Add Sunspot Group” and “Add Information” that you may
						find relevant.
					</span>
				</div>
				<div class="box-info">
					<img
						src="http://societic.ibercivis.es/sun4all/static/images/your_data_box.png"
						style="width: 406px;"> <span>The <strong>“Your
							Data” box</strong> resume your analysis by telling you how many sunspots
						and sunspot groups you have counted so far and also, allows you to
						“Finish the task” and to “Start over” the analysis.
					</span>
				</div>
			</div>
			<div id="5" class="modal-body" style="display: none">
				<div style="margin-bottom: 10px;">To count sunspots or sunspot
					groups just follow the next steps:</div>
				<div class="box-info" style="padding-bottom: 5px;">
					<img
						src="http://societic.ibercivis.es/sun4all/static/images/sunspot_step_1.png"
						style="width: 235px;"> <span>1) First you have to
						create a square around the area you want to cover. To do this,
						click on the image using the right button of the mouse. </span>
				</div>
				<div class="box-info" style="padding-bottom: 5px;">
					<img
						src="http://societic.ibercivis.es/sun4all/static/images/sunspot_step_2.png"
						style="width: 205px;"> <span>2) Then, you can adjust
						the square to your spot easily by cliking in the square and
						dragging him to the position you want. </span>
				</div>
				<div class="box-info" style="padding-bottom: 5px;">
					<img
						src="http://societic.ibercivis.es/sun4all/static/images/sunspot_step_3.png"
						style="width: 220px;"> <span>3) Finally, you have to
						go to the “Observation” box and click on “Add Sunspot” button
						which will mark your spot with a yellow circle! </span>
				</div>
				<div class="box-info">
					<img
						src="http://societic.ibercivis.es/sun4all/static/images/sunspot_step_4.png"
						style="width: 279px;"> <span><u>For sunspot
							groups</u>, the process is the same but in this last step you must
						click on “Add Sunspot Group” button which will mark your sunspot
						group with a blue circle. </span>
				</div>
			</div>
			<div id="6" class="modal-body"
				style="display: none; text-align: center;">
				<span>Once you have counted every sunspots and sunspot groups
					in the spectroheliogram, you just have to click on the “Finish
					Task” button! <br> <br> Now you are ready to start
					contributing! You can also check on the <a
					href="http://www.mat.uc.pt/~sun4all/index.php/en/supporting-material?download=33:projects-guidebook)
					of Sun4All!"
					target="_blank">didactic unit</a>. <br>
				<br> Thank you so much for your time and have fun!
				</span>
				<div style="margin: 0px auto; width: 446px;">
					<img
						src="http://societic.ibercivis.es/sun4all/static/images/sun4all-icon.png"
						style="width: 35%; float: left;"> <img
						src="http://societic.ibercivis.es/sun4all/static/images/socientize-icon.png"
						style="width: 54%; margin-top: 40px;">
				</div>
			</div>
			<div class="modal-footer">
				<a id="prevBtn" href="#" onclick="showStep('prev')" class="btn">Previous</a>
				<a id="nextBtn" href="#" onclick="showStep('next')"
					class="btn btn-success">Next</a> <a id="startContrib"
					href="../Sun4All/newtask" class="btn btn-primary"
					style="display: none"><i class="icon-thumbs-up"></i> Start
					contributing!</a>
			</div>
		</div>
	</div>
</div>
<script>
	var step = -1;
	function showStep(action) {
		$("#" + step).hide();
		if (action == 'next') {
			step = step + 1;
		}
		if (action == 'prev') {
			step = step - 1;
		}
		if (step == 0) {
			$("#prevBtn").hide();
		} else {
			$("#prevBtn").show();
		}

		if (step == 6) {
			$("#nextBtn").hide();
			$("#startContrib").show();
		}
		$("#" + step).show();
	}

	showStep('next');
	$("#modal").modal('show');
</script>
